body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
}

#gabriel {
    color: #0077cc;
    cursor: pointer;
    text-decoration: underline;
}
